* {
  font-family: 'Baloo Da 2', cursive;
}

a, button:focus {
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

.primary-btn {
  display: inline-block;
  background-color: #F98169;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.primary-btn:hover {
  background-color: #0B314B;
  color: #fff;
}

.py-50 {
  padding: 50px 0;
}

.watch-video {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #F98169;
  -webkit-transition: .5s;
  transition: .5s;
}

.watch-video .fa-play {
  display: inline-block;
  font-size: 20px;
  color: #F98169;
  -webkit-transition: .5s;
  transition: .5s;
}

.watch-video:hover {
  background-color: #F98169;
}

.watch-video:hover .fa-play {
  color: #fff;
}

header {
  height: 100px;
}

header .navbar {
  height: 100px;
  padding: 0;
  z-index: 1;
}

header .navbar .navbar-brand {
  font-size: 56px;
  color: #0B314B;
  font-weight: 300;
  margin-right: 100px;
}

header .navbar .navbar-nav .nav-item a {
  color: #0B314B;
}

header .navbar .navbar-nav .nav-item.active a {
  font-weight: 700;
}

header .navbar .navbar-nav .nav-item:not(:first-child) {
  margin-left: 25px;
}

.home-banner {
  background-image: url(../../images/backgrounds/home-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 798px;
  position: relative;
  margin-top: -100px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner .home-banner:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../../images/backgrounds/home-banner-overlay.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-banner .container .w-50 .h1 {
  font-size: 50px;
  color: #0B314B;
  font-weight: 300;
  margin-bottom: 25px;
}

.home-banner .container .w-50 p {
  margin-bottom: 50px;
}

.home-banner .container .w-50 p small {
  font-size: 16px;
  color: #0B314B;
}

.home-banner .container .w-50 .primary-btn {
  margin-right: 50px;
}

.home-banner .container .w-50 .div-watch-video {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-banner .container .w-50 .div-watch-video span {
  margin-right: 10px;
}

.featured-menu {
  background-image: url(../../images/backgrounds/featured-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-menu .container .row:first-child .col-lg-6:first-child img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 0 50px 100px 0 #C5C9CB;
          box-shadow: 0 50px 100px 0 #C5C9CB;
}

.featured-menu .container .full-table {
  background-image: url(../../images/backgrounds/table-full-of-food.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.featured-menu .container .full-table .h2 {
  color: #fff;
  max-width: 800px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
}

.featured-menu .container .full-table p {
  color: #fff;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.featured-menu .container .full-table .div-watch-story .watch-video {
  border-color: #fff;
  margin-bottom: 10px;
}

.featured-menu .container .full-table .div-watch-story .watch-video .fa-play {
  color: #fff;
}

.featured-menu .container .full-table .div-watch-story .watch-video:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.featured-menu .container .full-table .div-watch-story span {
  display: block;
  color: #fff;
  font-weight: 300;
}

.explore-foods p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #AEB2B4;
  margin-bottom: 40px;
}

.explore-foods .row .food-menu-box {
  -webkit-box-shadow: 0 10px 20px 0 rgba(193, 193, 193, 0.5);
          box-shadow: 0 10px 20px 0 rgba(193, 193, 193, 0.5);
  border-radius: 15px;
  margin-bottom: 30px;
}

.explore-foods .row .food-menu-box .food-menu-img {
  overflow: hidden;
}

.explore-foods .row .food-menu-box .food-menu-img img {
  -webkit-transition: .5s;
  transition: .5s;
}

.explore-foods .row .food-menu-box .food-menu-details {
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.explore-foods .row .food-menu-box .food-menu-details .item-name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.explore-foods .row .food-menu-box .food-menu-details .item-name-price .price {
  color: #F98169;
  font-size: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.explore-foods .row .food-menu-box .food-menu-details .item-details {
  color: #AEB2B4;
  font-size: 14px;
}

.explore-foods .row .food-menu-box:hover .food-menu-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.explore-foods .row .food-menu-box:hover .food-menu-details .item-name-price .price {
  color: #0B314B;
}

.popular-recipes .h2 {
  margin-bottom: 30px;
}

.popular-recipes .recipes-slider .recipes-box {
  position: relative;
  overflow: hidden;
}

.popular-recipes .recipes-slider .recipes-box .recipes-img {
  position: relative;
  z-index: 0;
}

.popular-recipes .recipes-slider .recipes-box .recipes-img:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.popular-recipes .recipes-slider .recipes-box .recipe-details {
  position: absolute;
  width: 100%;
  top: 100%;
  padding: 20px;
  left: 0;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.popular-recipes .recipes-slider .recipes-box .recipe-details h4 {
  font-size: 22px;
}

.popular-recipes .recipes-slider .recipes-box .recipe-details p {
  font-size: 14px;
}

.popular-recipes .recipes-slider .recipes-box .recipe-btn {
  position: absolute;
  bottom: 0;
  right: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 50px;
  background-color: #F98169;
  border-bottom-right-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  opacity: 0;
}

.popular-recipes .recipes-slider .recipes-box .recipe-btn i.fa-long-arrow-right {
  margin: auto;
  display: inline-block;
  color: #fff;
  font-size: 30px;
}

.popular-recipes .recipes-slider .recipes-box .recipe-btn:hover {
  background-color: #0B314B;
}

.popular-recipes .recipes-slider .recipes-box:hover .recipes-img::before {
  background-color: rgba(11, 49, 75, 0.75);
}

.popular-recipes .recipes-slider .recipes-box:hover .recipe-details {
  top: 60%;
}

.popular-recipes .recipes-slider .recipes-box:hover .recipe-btn {
  right: 0;
  opacity: 1;
}

footer {
  position: relative;
  overflow: hidden;
}

footer .pre-footer.latest-updates {
  background-image: url(../../images/backgrounds/lates-update-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
}

footer .pre-footer.latest-updates .container {
  position: relative;
}

footer .pre-footer.latest-updates .container .latest-updates-div {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px 0 #b9b9b940;
          box-shadow: 0 10px 30px 0 #b9b9b940;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates input[type="text"] {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 90px;
  border: 0;
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
  color: #8B8E8F;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates input[type="text"]::-webkit-input-placeholder {
  font-size: 24px;
  color: #8B8E8F;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates input[type="text"]:-ms-input-placeholder {
  font-size: 24px;
  color: #8B8E8F;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates input[type="text"]::-ms-input-placeholder {
  font-size: 24px;
  color: #8B8E8F;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates input[type="text"]::placeholder {
  font-size: 24px;
  color: #8B8E8F;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates button {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 90px;
  border: 0;
  background-color: #F98169;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .pre-footer.latest-updates .container .latest-updates-div form.get-updates button:hover {
  background-color: #0B314B;
}

footer .pre-footer.latest-updates .container:before,
footer .pre-footer.latest-updates .container:after {
  content: "";
  position: absolute;
  height: 242px;
  width: 242px;
  background-image: url(../../images/backgrounds/dots.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

footer .pre-footer.latest-updates .container:before {
  top: -60px;
  left: -50px;
}

footer .pre-footer.latest-updates .container:after {
  bottom: -60px;
  right: -50px;
}

footer .main-footer {
  padding-top: 50px;
  padding-bottom: 100px;
}

footer .main-footer .container .footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 0 25px;
  margin-bottom: 25px;
}

footer .main-footer .container .footer-nav .footer-logo {
  font-size: 56px;
  color: #0B314B;
  font-weight: 300;
  margin-right: 100px;
}

footer .main-footer .container .footer-nav .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .main-footer .container .footer-nav .footer-links .nav-item .nav-link {
  color: #0B314B;
}

footer .main-footer .container .footer-nav .footer-links .active {
  font-weight: 700;
}

footer .main-footer .container .footer-nav::before,
footer .main-footer .container .footer-nav::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #f5f5f5;
}

footer .main-footer .container .footer-nav::before {
  top: 0;
}

footer .main-footer .container .footer-nav::after {
  bottom: 0;
}

footer .main-footer .container .social-links .social-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .main-footer .container .social-links .social-links-list li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #0B314B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .main-footer .container .social-links .social-links-list li a i.fa {
  color: #fff;
  font-size: 20px;
}

footer .main-footer .container .social-links .social-links-list li:hover a {
  background-color: #F98169;
  border-radius: 50%;
}

footer .main-footer .container .social-links .social-links-list li:not(:last-child) {
  margin-right: 25px;
}

footer:before {
  content: "";
  position: absolute;
  bottom: -35%;
  right: -15%;
  height: 450px;
  width: 450px;
  background-image: url(../../images/backgrounds/footer-bottom-right-corner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */