// varibales
$primary-color: #F98169;
$secondary-color-blue: #0B314B;

// general css
* {
    font-family: 'Baloo Da 2', cursive;
}
a, button:focus {
    outline: none;
}
a, a:hover {
    text-decoration: none;
}
.primary-btn {
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
}
.primary-btn:hover {
    background-color: $secondary-color-blue;
    color: #fff;
}
.py-50 {
    padding: 50px 0;
}

// watch-video button
.watch-video {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid $primary-color;
    transition: .5s;

    .fa-play {
        display: inline-block;
        font-size: 20px;
        color: $primary-color;
        transition: .5s;
    }
}
.watch-video:hover {
    background-color: $primary-color;

    .fa-play {
        color: #fff;
    }
}
// header css start
header {
    height: 100px;
    
    .navbar {
        height: 100px;
        padding: 0;
        z-index: 1;

        .navbar-brand {
            font-size: 56px;
            color: $secondary-color-blue;
            font-weight: 300;
            margin-right: 100px;
        }

        .navbar-nav {
            .nav-item {
                a {
                    color: $secondary-color-blue;
                }
            }
            .nav-item.active {
                a {
                    font-weight: 700;
                }
            }
            .nav-item:not(:first-child) {
                margin-left: 25px;
            }
        }
    }
}
// home-banner css start
.home-banner {
    background-image: url(../../images/backgrounds/home-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 798px;
    position: relative;
    margin-top: -100px;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .home-banner:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url(../../images/backgrounds/home-banner-overlay.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container .w-50 {
        .h1 {
            font-size: 50px;
            color: $secondary-color-blue;
            font-weight: 300;
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 50px;
    
            small {
                font-size: 16px;
                color: $secondary-color-blue;
            }
        }
        .primary-btn {
            margin-right: 50px;
        }

        .div-watch-video {
            display: inline-flex;
            align-items: center;

            span {
                margin-right: 10px;
            }
        }
    }
}

// featured-menu css start
.featured-menu {
    background-image: url(../../images/backgrounds/featured-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
        .row:first-child .col-lg-6:first-child {
            img {
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                box-shadow: 0 50px 100px 0 #C5C9CB;
            }
        }
        .full-table {
            background-image: url(../../images/backgrounds/table-full-of-food.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 450px;

            .h2 {
                color: #fff;
                max-width: 800px;
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 40px;
            }

            p {
                color: #fff;
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 30px;
            }

            .div-watch-story {
                .watch-video {
                    border-color: #fff;
                    margin-bottom: 10px;

                    .fa-play {
                        color: #fff;
                    }
                }

                .watch-video:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                }

                span {
                    display: block;
                    color: #fff;
                    font-weight: 300;
                }
            }
        }
    }
}

// explore-foods css start
.explore-foods {

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        color: #AEB2B4;
        margin-bottom: 40px;
    }
    .row {
        .food-menu-box {
            box-shadow: 0 10px 20px 0 rgba(193, 193, 193, 0.5);
            border-radius: 15px;
            margin-bottom: 30px;

            .food-menu-img {
                overflow: hidden;

                img {
                    transition: .5s;
                }
            }
            
            .food-menu-details {
                background-color: #fff;
                padding: 20px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                .item-name-price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 18px;
                    font-weight: 700;
                    
                    .price {
                        color: $primary-color;
                        font-size: 30px;
                        transition: .5s;
                    }
                }

                .item-details {
                    color: #AEB2B4;
                    font-size: 14px;
                }
            }
        }

        .food-menu-box:hover {
            .food-menu-img img {
                transform: scale(1.1);
            }

            .food-menu-details .item-name-price .price {
                color: $secondary-color-blue;
            }
        }
    }
}

// popular-recipes css start
.popular-recipes {
    .h2 {
        margin-bottom: 30px;
    }
    .recipes-slider {
        .recipes-box {
            position: relative;
            overflow: hidden;
            .recipes-img {
                position: relative;
                z-index: 0;
            }
            .recipes-img:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: transparent;
                border-radius: 5px;
                z-index: 1;
                transition: .5s;
            }
            .recipe-details {
                position: absolute;
                width: 100%;
                top: 100%;
                padding: 20px;
                left: 0;
                color: #fff;
                transition: .5s;
                
                h4 {
                    font-size: 22px;
                }
                p {
                    font-size: 14px;
                }
            }
            .recipe-btn {
                position: absolute;
                bottom: 0;
                right: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 50px;
                background-color: $primary-color;
                border-bottom-right-radius: 5px;
                transition: .5s;
                transition-delay: .25s;
                opacity: 0;

                i.fa-long-arrow-right {
                    margin: auto;
                    display: inline-block;
                    color: #fff;
                    font-size: 30px;
                }
            }
            .recipe-btn:hover {
                background-color: $secondary-color-blue;
            }
        }
        .recipes-box:hover {
            .recipes-img::before {
                background-color: rgba(11, 49, 75, .75);
            }
            .recipe-details {
                top: 60%;
            }
            .recipe-btn {
                right: 0;
                opacity: 1;
            }
        }
    }
}

// footer css start
footer {
    position: relative;
    overflow: hidden;

    // latest-updates css start
    .pre-footer.latest-updates {
        background-image: url(../../images/backgrounds/lates-update-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 50px;

        .container {
            position: relative;

            .latest-updates-div {
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 10px 30px 0 #b9b9b940;

                form.get-updates {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 700px;

                    input[type="text"] {
                        flex-basis: 60%;
                        height: 90px;
                        border: 0;
                        background-color: #f0f0f0;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        padding: 10px 20px;
                        font-size: 24px;
                        color: #8B8E8F;
                    }
                    input[type="text"]::placeholder {
                        font-size: 24px;
                        color: #8B8E8F;
                    }
                    button {
                        flex-basis: 40%;
                        height: 90px;
                        border: 0;
                        background-color: $primary-color;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        font-size: 24px;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        transition: .5s;
                    }
                    button:hover {
                        background-color: $secondary-color-blue;
                    }
                }
            }
        }
        .container:before,
        .container:after {
            content: "";
            position: absolute;
            height: 242px;
            width: 242px;
            background-image: url(../../images/backgrounds/dots.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
        .container:before {
            top: -60px;
            left: -50px;
        }
        .container:after {
            bottom: -60px;
            right: -50px;
        }
    }

    // main-footer css start
    .main-footer {
        padding-top: 50px;
        padding-bottom: 100px;

        .container {
            .footer-nav {
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                padding: 0 25px;
                margin-bottom: 25px;
    
                .footer-logo {
                    font-size: 56px;
                    color: $secondary-color-blue;
                    font-weight: 300;
                    margin-right: 100px;
                }
    
                .footer-links {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
    
                    .nav-item {
                        .nav-link {
                            color: $secondary-color-blue;
                        }
                    }
                    .active {
                        font-weight: 700;
                    }
                }
            }
            .footer-nav::before,
            .footer-nav::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                left: 0;
                background-color: #f5f5f5;
            }
            .footer-nav::before {
                top: 0;
            }
            .footer-nav::after {
                bottom: 0;
            }
    
            .social-links {
                .social-links-list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: inline-flex;

                    li {
                        a {
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            border-radius: 5px;
                            background-color: $secondary-color-blue;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: .5s;

                            i.fa {
                                color: #fff;
                                font-size: 20px;
                            }
                        }
                    }
                    li:hover {
                        a {
                            background-color: $primary-color;
                            border-radius: 50%;
                        }
                    }
                    li:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}
footer:before {
    content: "";
    position: absolute;
    bottom: -35%;
    right: -15%;
    height: 450px;
    width: 450px;
    background-image: url(../../images/backgrounds/footer-bottom-right-corner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}